@using ISC.ActiveDirectoryManager.Models

@{
    ViewBag.Title = "PasswordReset";
}

<h2>AdPasswordReset</h2>
<section>
    <div style="height: 50px;"></div>
</section>
<section id="about">
    @{
        var alerts = TempData.ContainsKey(AlertHelper.Alert.TempDataKey)
            ? (List<AlertHelper.Alert>)TempData[AlertHelper.Alert.TempDataKey]
            : new List<AlertHelper.Alert>();

        if (alerts.Any())
        {
            <hr />
        }

        foreach (var alert in alerts)
        {
            var alertId = Guid.NewGuid();
            var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
            <div id="alert-@alertId" class="alert alert-@alert.AlertStyle @dismissableClass">
                @if (alert.Dismissable)
                {
                    <span class="close" data-dismiss="alert">&times;</span>
                }
                @Html.Raw(alert.Message)
            </div>
            if (!alert.Permanent)
            {
                <script>
                    $('#alert-@alertId').delay(5000).fadeOut('slow');
                </script>
            }
        }
    }
    <div class="row-main about-wrap">
        <div class="col-full">
            <div class="about-profile-bg"></div>
            <div class="intro">
                <h3 class="animate-this">Reset your Password</h3>
                @using (Html.BeginForm("DoResetPassword", "ActiveDirectory"))
                {
                    <div class="form-group">
                        @Html.TextBox("Domain", null, new { @class = "form-control", placeholder = "Domain" })
                        @Html.TextBox("Username", null, new { @class = "form-control", placeholder = "Username" })
                        @Html.Password("CurrentPassword", null, new { @class = "form-control", placeholder = "Current Password" })
                        @Html.Password("NewPassword", null, new { @class = "form-control", placeholder = "New Password" })
                        @Html.Password("VerifyPassword", null, new { @class = "form-control", placeholder = "Verify Password" })

                    </div>
                    <button type="submit">Reset</button>
                }
            </div>
        </div> <!-- end col-full -->
    </div> <!-- end about-wrap -->

</section> <!-- end about -->

